version: '2'

services:
  lb:
    image: haproxy:1.7
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - /var/run/haproxy:/var/run/haproxy
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://{{ hostvars[groups.lb[0]]['ansible_host'] }}:12201"
    ports:
      - 80:80
