# Simple configuration for an HTTP proxy listening on port 80 on all
# interfaces and forwarding requests to a single backend "servers" with a
# single server "server1" listening on 127.0.0.1:8000
global
    daemon
    maxconn 256
    stats socket /var/run/haproxy/info.sock  mode 666 level user

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers
    stats enable
    stats uri /stats

backend servers
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    default-server inter 10s fall 3 rise 2
    {% for host in groups['web'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:80 check maxconn 256 weight 20
    {% endfor %}
