app360-zabbix-server:
  image: desmonddai583/zabbix-server-mysql:ubuntu-3.2.3
  container_name: app360-zabbix-server
  restart: always
  tty: true
  log_driver: syslog
  log_opt:
    tag: "{{ '{{' }}.DaemonName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}"
  ports:
    - "{{ zabbix_server_port }}:10051"
  extra_hosts:
    - "{{ ansible_hostname }}:{{ common_host.stdout }}"
  environment:
    - DB_SERVER_HOST={{ ansible_hostname }}
    - MYSQL_USER={{ zabbix_db_name }}
    - MYSQL_PASSWORD={{ zabbix_db_pass }}

app360-zabbix-web:
  image: desmonddai583/zabbix-web-server:ubuntu-3.2.3
  container_name: app360-zabbix-web
  restart: always
  tty: true
  log_driver: syslog
  log_opt:
    tag: "{{ '{{' }}.DaemonName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}"
  ports:
    - "{{ zabbix_web_port }}:80"
  extra_hosts:
    - "{{ ansible_hostname }}:{{ common_host.stdout }}"
  environment:
    - DB_SERVER_HOST={{ ansible_hostname }}
    - MYSQL_USER={{ zabbix_db_user }}
    - MYSQL_PASSWORD={{ zabbix_db_pass }}
    - ZBX_SERVER_HOST=app360-zabbix-server
    - TZ={{ ntp_timezone }}
  links:
    - app360-zabbix-server
