version: '2'

services:
  zabbix-agent:
    image: desmonddai583/zabbix-agent:ubuntu-3.2.3
    environment:
      - ZBX_HOSTNAME={{ ansible_hostname }}
      - ZBX_SERVER_HOST={{ hostvars[groups.lb[0]]['ansible_host'] }}
    ports:
      - "10050:10050"
    volumes:
      - ./userparameter_haproxy.conf:/etc/zabbix/zabbix_agentd.d/userparameter_haproxy.conf
      - ./haproxy_discovery.sh:/usr/local/bin/haproxy_discovery.sh
      - ./haproxy_stats.sh:/usr/local/bin/haproxy_stats.sh
      - ./haproxy.cfg:/etc/haproxy/haproxy.cfg
      - /var/run/haproxy:/var/run/haproxy
