{
  'method':'configuration.import',
  'id':5,
  'jsonrpc':'2.0',
  'auth':'{{auth_token}}',
  'params':{
    'format':'xml',
    'rules':{
      'applications':{
        'createMissing':true
      },
      'discoveryRules':{
        'createMissing':true,'updateExisting':true
      },
      'graphs':{
        'createMissing':true,'updateExisting':true
      },
      'groups':{
        'createMissing':true
      },
      'items':{
        'createMissing':true,'updateExisting':true
      },
      'templateLinkage':{
        'createMissing':true
      },
      'templateScreens':{
        'createMissing':true,'updateExisting':true
      },
      'triggers':{
        'createMissing':true,'updateExisting':true
      },
      'templates':{
        'createMissing':true,'updateExisting':true
      }
    },
    'source':"{{ lookup('file', 'haproxy_template.xml') }}"
  }
}
